APScheduler==3.6.3	
PyQt5==5.14.1	
PyQt5-sip==12.7.1	
numpy==1.18.1	
opencv-python==4.2.0.32	
package-name==0.1	
pip==20.0.2	
pytz==2020.1	
setuptools==40.6.2	
six==1.14.0	
subprocess.run==0.0.8	
tzlocal==2.1	
